.header_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3.2rem;
  margin-top: 0.8rem;
  border: 1px solid rgb(24, 24, 24, 0.4);
}

.header_div a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
}

.time_zone_div {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 3.2rem;
  border: 1px solid rgb(24, 24, 24, 0.4);
  gap: 0.8rem;
}

.time_zone_div label {
  font-size: 1.2rem;
  font-weight: 600;
}

.time_zone_div select {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem;
  cursor: pointer;
}
